@media screen and (max-width : 576px) {

    nav ul,
    .banner-container,
    .display-casual-content-items,
    .footer-container,
    .footer-item {
        flex-direction: column;
    }
    nav{
        padding-top: 20px;
        width: 100%;
    }
    .nav-header-logo{
        padding: 20px;
    }
    nav ul li{
        display: none;
    }
    header{
        height: auto;
    }
    .banner-container{
        margin-top: 30px;
    }
    .banner-content-text {
        width: 100%;
        margin: 0;
        margin-bottom: 70px;
    }
    nav {
        margin-bottom: 0;
    }
    .banner-container {
        width: 90%;
    }
    .display-casual-container {
        width: 90%;
    }
    #first-img,
    #sc-img {
        display: none;
    }
    .hambar {
        margin-bottom: 30px;
    }

    .casual-h3 {
        text-align: center;
    }

    .footer-content-image {
        width: 100%;
    }

    .footer-content-image-2 img {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer-content-image {
        display: none;
    }

    .footer-container {
        width: 100%;
        padding: 20px;
    }

    .footer-item {
        text-align: center;
    }

    .footer-content-image-2 {
        display: block;
    }
}