:root {
    --color: rgb(62, 62, 62);
    --base-font-size: 2rem;
    --large-font-size: 3rem;
    --primary-font-size: 1.125rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* navigation section styles start */
header {
    background: rgb(255, 249, 244);
    height: 750px;
}

nav {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 50px;
    margin-bottom: 50px;
}

nav ul {
    gap: 56px;
}

nav ul li {
    color: rgb(60, 60, 60);
    cursor: pointer;
    list-style: none;
    font-weight: 600;
}

.nav-header-logo img {
    width: 290px;
    cursor: pointer;
}

/* navigation section styles end */

/*banner section styles start  */
.banner-container {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 120px;
}
.banner-content {
    width: 50%;
}

.banner-content img {
    width: 100%;
}
.banner-content{
    width: 100%;
}
.banner-image-first{
    position: relative;
    z-index: 2;
}
#first-img{
    width: 510px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 74%;
    top: 45%;
    width: 450px;
}
#sc-img{
    position: absolute;
    transform: translate(-50% , -50%);
    left: 73%;
    top: 42%;
    z-index: 1;
    width: 520px;
}
.banner-content-text {
    width: 400px;
    height: auto;
    margin-right: 112px;
}

.banner-content-text h3 {
    font-size: 5rem;
    font-weight: 700;
    color:  #76C27E;
    line-height: 80px;
    margin-bottom: 24px;
    font-family: "Bebas Neue";
}

.banner-content-text span {
    color: #363958;
    font-family: "Bebas Neue";
}

.banner-content-text p {
    margin-bottom: 10px;
    font-size: 1rem;
}

/*banner section styles end  */

/* shared styles start */
.display-flex {
    display: flex;
    align-items: center;
}

.color-gray {
    font-family: Roboto;
    font-size: var(--base-font-size);
    line-height: 26px;
    color: var(--color);
}

.primary-btn img {
    width: 24px;
}

.primary-btn {
    border: 0;
    outline: 0;
    padding: 13px 29px;
    border-radius: 10px;
    background: #2A1E59;
    gap: 9px;
    color: #fff;
    cursor: pointer;
}

.display-none {
    display: none;
}

.color-light-gray {
    color: #3E3E3E;
    margin-bottom: 13px;
    line-height: 24px;
    letter-spacing: 0.3px;
}

/* shared styles end */

/* casual shoes container styles start */
.display-casual-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.casual-item {
    max-width: 370px;
    max-height: 550px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
    padding: 20px;
}

.casual-item>h3 {
    font-size: var(--primary-font-size);
    margin-bottom: 14px;
}

.casual-item>img {
    width: 100%;
    background: rgb(241, 241, 241);
    border-radius: 20px;
}

.casual-price-tag {
    justify-content: space-between;
}

.casual-price-tag>p {
    color: #76C27E;
    font-size: var(--base-font-size);
    font-weight: 900;
    line-height: 42px
}

.display-casual-content-items {
    gap: 50px;
    justify-content: space-around;
    margin-top: 34px;
    margin-bottom: 120px;
}

.casual-h3 {
    font-size: var(--large-font-size);
    font-weight: 700;
    color: #363958;
    line-height: 40px;
    font-family: "Bebas Neue";
}

#bgnone {
    background-color: transparent;
}

/* casual shoes container styles end */

/* footer section styles start */
.footer-container {
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 40px;
    margin-top: 120px;
}

.footer-item>img{
    width: 78px;
}

.footer-item {
    max-width: 489px;
    height: auto;
    gap: 36px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
    background: rgb(255, 255, 255);
    margin-bottom: 18px;
}
.footer-content-image{
    width: 50%;
    
}
.footer-content-image > img{
    width: 100%;
}
.footer-text-header p{
    font-size: var(--primary-font-size);
    line-height: 26px;
}
.footer-text-header h3{
    font-size: 24px;
    margin-bottom: 8px;
}
/* footer section styles end */